div.card {
	margin: 1rem;
	padding: 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border: solid 2px #323432;
	box-shadow: 0.1rem 0.1rem 0.1rem #000;

	.charImage {
		border: solid 2px #333;
		padding: 0.1rem;
	}
}
